---
pagination:
  data: colors
  size: 1
  permalink: "{{ pagination.items[0].file}}.html"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="icon" type="image/png" href="{{pagination.items[0].fav.png[0].url}}">
    <link rel="icon" type="image/svg+xml" href="{{pagination.items[0].fav.svg[0].url}}">


    <meta property="og:title" content="I ❤️ {{ pagination.items[0].name }}" />
    <meta property="og:url" content="https://friendly-morse-d75e22.netlify.app{{page.url}}" />
    <meta property="og:image" content="https://friendly-morse-d75e22.netlify.app{{ pagination.items[0].og }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mge_de" />
    <meta name="twitter:title" content="I ❤️ {{ pagination.items[0].name }}" />
    <meta name="twitter:description" content="A Demo Project demonstrating automated open graph image generation in 11ty usind svg and the 11ty image plugin. " />
    <meta name="twitter:image" content="https://friendly-morse-d75e22.netlify.app{{ pagination.items[0].og }}" />

    <title>I ❤️ {{ pagination.items[0].name }}</title>
    <style> 
        html,body{
        height: 100%;
        display: grid;

            background: {{ pagination.items[0].hex }};
            color: {{ pagination.items[0].text }};
            font-family: monospace;
            font-size: 110%;
        }
        a{
          color: {{ pagination.items[0].text }};
          text-decoration: none;
          display: inline-block;
          padding: 0.5em 1em;
          margin: 1em;
          border: 1px solid;
          border-radius: 0.2em;
        }
        p{margin:auto}
    </style>
</head>
<body>
<p>
{% if pagination.previous %}
  <a href="{{ pagination.previous }}">&larr;</a>
{% else %}
  <a href="{{ pagination.href.last }}">&larr;</a>
{% endif %}
  <a href="{{pagination.items[0].svg}}" download>{{ pagination.items[0].hex }}</a>
{% if pagination.next %}
  <a href="{{ pagination.next }}">&rarr;</a>
{% else %}
  <a href="{{ pagination.href.first }}">&rarr;</a>
{% endif %}
</p>
</body>
</html>